.task1 {
    width: 60vw;
}
.task2 {
    width: 90vw;
}

form, [id="inputDiv"] {
    padding: 1%;
}

h1, label, input {
    text-align: center;
}

#formDiv {
    text-align: center; 
}

tr:nth-child(even) {background: rgb(241, 241, 241)}
tr:nth-child(odd) {background: #FFF}

#delete_btn {
    margin-top: 7%;
}
