[id='headerTable'] td {
    border: 1px solid #cccccc;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}
[class*='task'] {
    border: 1px solid #cccccc;
    height: 15px;
    text-align: center;
    vertical-align: middle;
}
.task1 {
    width: 20.3vw;
}
.task2 {
    width: 90vw;
}
.title {
    width: 20vw;
}
.desc {
    width: 90vw;
}

input[type="button"] {
    border: 1px solid #cccccc;
    height: 25px;
    width: 2vw;
    text-align: center;
    vertical-align: middle;
}

